.animate {
	animation: changeText 600ms linear;
}


@keyframes changeText {
  from, to { background-color: white; color: black;}
  50% { background-color: #2EB6E2FC; color: #2EB6E2FC;}
  100% { background-color: white; color: black;}
}

.Git {
   background-image: url('./git.png');
   height: 64px;
   width: 64px;
}

.Git:hover {
   background-image: url('./git_white.png');
}
