body {
  margin: 0;
  padding: 0;
  background-image: url(./bg.PNG);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1, h2 {
  font-family: 'Ubuntu Mono', sans-serif;
  color: white;
}

.transitionPane0 {
  transform: translateY(0px);
  transition: transform 350ms linear;
  will-change: transform;
}

.transitionPane1 {
  transform: translateY(-630px);
  transition: transform 350ms linear;
  will-change: transform;
}

.transitionPane2 {
  transform: translateY(-1260px);
  transition: transform 350ms linear;
  will-change: transform;
}

.transitionPane3 {
  transform: translateY(-1890px);
  transition: transform 350ms linear;
  will-change: transform;
}

.transitionPane4 {
  transform: translateY(-2520px);
  transition: transform 350ms linear;
  will-change: transform;
}

.cursor {
    font-size: 25px;
    animation: blink .85s step-end infinite;
}

@keyframes blink {
  from, to { color: transparent }
  50% { color: black; }
}
