body {
  margin: 0;
  padding: 0;
  background-image: url(./bg.PNG);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

h1, h2 {
  font-family: 'Ubuntu Mono', sans-serif;
  color: white;
}

.transitionPane1 {
  transform: translateY(-630px);
}

.transitionPane2 {
  transform: translateY(-1260px);
}

.transitionPane3 {
  transform: translateY(-1890px);
}

.transitionPane4 {
  transform: translateY(-2520px);
}

